.comp-cabecalho{
    background-color: #f7f7f7;
    padding: 20px 40px;

    .titulo{
        h1{
            margin-right: 5px;
            font: 700 28px 'poppins';
            color: rgb(36, 26, 26);
          }
    }
}